.log__wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.log__logo {
    margin-bottom: 50px;
}

.login__form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.log__label {
    max-width: 440px;
    transition: all 0.3s ease;
}

.log__input {
    width: 420px;
    display: block;
    background-color: #fafafa;
    color: #444;
    border: #333 solid 1px;
    border-radius: 20px;
    padding: 10px;
    max-height: 38px;
    font-size: 14px;
    line-height: 1.8;
    border-radius: 5px;
}

.checkbox__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.log__check {
    background-color: #fff;
    border: 1px solid #bbb;
    line-height: 0;
    width: 16px;
    min-width: 16px;
    height: 16px;
    outline: 0;
    text-align: center;
    vertical-align: middle;
    clear: none;
    cursor: pointer;
}

.checkbox__text {
    display: inline-block !important;
    font-weight: 400;
    font-size: 13px;
    font-weight: bold;
    text-transform: inherit;
    color: #F29C37;
}

.error {
    margin: 0;
    display: none;
    transition: all 0.3s ease;
    color: red;
    font-size: 12px;
    padding-left: 8px;
    padding-bottom: 5px;
}

.visiblee~.error {
    display: flex;
}



.log__input:hover {
    border: 1px solid #00d084;
    border-radius: 5px;
}

.log__input:focus {
    border: 1px solid #00d084;
    border-radius: 5px;
}

.log__input:active {
    border: 1px solid #00d084;
}

.log__input:focus-visible {
    border: none;
    outline: none;
    border: 1px solid #00d084;
}

/* .error__name {}

.error {}

.error__last {}

.error__mail {}

.error__phone {}

.error__country {}

.error__password {}

.error__confirm {} */

.submit__btn {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    cursor: pointer;
    text-align: center;

    width: 100%;
    border: none;
    background: #F29C37 !important;
    /* border-color: #D8A724 !important; */
    /* box-shadow: none !important; */

    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s; */
    padding: 15px 30px 15px;
    border-radius: 53px;
    color: black !important;
    font-weight: 600;
    /* border-bottom: 4px solid #ffebb5 !important; */
    margin-bottom: 0;
    width: 260px;
    transition: 0.5s;
    margin: 0 auto;
}

.submit__btn:hover {
    transform: scale(1.05);
}

.login__toReg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
}

.log__homeButton {
    position: absolute;
    left: 30px;
    bottom: 30px;

    display: flex;
    align-items: center;
}

.log__arrow {
    margin-right: 4PX;
    transition: 0.4s;
    transform: rotate(90deg);
}

.log__arrow path {
    stroke: #F29C37;
}

.log__homeButton:hover .log__arrow {
    transform: translateX(-5px) rotate(90deg);
}

.log__link {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 18px;
}

.forgot__password {
    text-decoration: none;
    font-size: 13px;
    color: #F29C37;
}

@media only screen and (max-width: 900px) {
    /* MOBILE */


    .log__input {
        max-width: 450px;
        width: 100%;
    }
}