.container {}

.profile__container {
    /* width: 100%; */

    background-color: #F8F8F8;
}

.profile__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(211, 211, 211);
    background-color: white;
    padding: 20px;
}

.profile__header-right {
    display: flex;
    align-items: center;
}

.profile__user-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile__ava {
    border-radius: 50%;
}

.profile__user-right {}

.profile__user-name {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.profile__user-id-label {
    position: relative;
}

.profile__user-id-input {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    cursor: pointer;
}

.profile__user-id-input:focus {
    border: none;
    outline: none;
}

.profile__user-id-copy-icon {
    position: absolute;
    bottom: 3px;
    right: 90px;
}

.profile__header-buttons-wrapper {
    margin-left: 76px;
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile__button-cash {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 23px 5px 23px;
    border: none;
    background: none;
    color: #6D6D6F;
    background: #F4F4F4;
    cursor: pointer;
    border-radius: 100px;
}

.profile__button-logout {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background: #F29C37;
    border: none;
    border-radius: 100px;
    padding: 4px 10px 6px 10px;
    cursor: pointer;
}

.profile__main {
    padding-top: 25px;
    display: flex;
    gap: 22px;
    padding: 10px;
}

.profile__left {
    max-width: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 85vh;
    background: #275060;
    border-radius: 20px;
}

.profile__left-top {}

.profile__balance-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
    padding-left: 15px;
    padding-top: 23px;
    margin-bottom: 9px;
}

.profile__balance {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding-bottom: 12px;
    padding-left: 18px;
    margin: 0;
}

.profile__line {
    display: inline-block;
    width: 100%;
    height: 2px;
    background: #F29C37;
    margin: 0;
}

.profile__bottom-link {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    height: 33px;
    padding-left: 30px;
    border-left: 4px solid #275060;
    text-decoration: none;

    transition: 0.3s;
}

.profile__bottom-link:hover {
    color: #F29C37;
    border-left: 4px solid #F29C37;
}


.profile__bottom-btn {
    margin-top: 50px;
    background: #F4F4F4;
    border-radius: 100px;
    padding: 13px 31px 14px 31px;
    border: none;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #6D6D6F;
    margin-left: 25px;
}

.profile__bottom {}

.profile__activated {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 17px;
    padding-bottom: 20px;
}

.profile__error-text {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #FFFFFF;
    padding-right: 10px;
}

.profile__right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.profile__banner {
    display: flex;
    flex-direction: column;
    /* width: 100%; */
    max-height: 600px;
    border-radius: 20px;
    background-image: url('./../../assets/images/trading.jpg');
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-size: contain; */
    padding: 30px;
    background-position-y: -100px;


}

.profile__banner-title {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    color: #FFFFFF;
    margin: 0;
    max-width: 450px;
    margin-bottom: 23px;
    /* margin-left: 287px; */
    margin-top: 25px;
}

.profile__banner-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0;
    max-width: 427px;
    /* margin-left: 287px; */
}

.profile__payment {}

.profile__payment-title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 42px;
    margin-bottom: 15px;
}

.profile__payment-list {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

.copied {
    transform: translateX(500%);
    position: absolute;
    right: 20px;
    top: 50px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    padding: 5px 30px;
    background: #00C850;
    border-radius: 200px;
    transition: all 0.5s ease;
    color: #FFFFFF;
}

.profile__payment-item {
    display: flex;
    align-items: center;
    gap: 9px;
    background: #FFFFFF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 17px 0 23px 8px;
    width: 378px;
    cursor: pointer;
}

.profile__payment-item-title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 9px;
}

.profile__payment-item-subtitle {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

@keyframes ldio-rxa1k1wifs-1 {
    0% {
        top: 8.200000000000003px;
        height: 183.6px
    }

    50% {
        top: 49px;
        height: 102px
    }

    100% {
        top: 49px;
        height: 102px
    }
}

@keyframes ldio-rxa1k1wifs-2 {
    0% {
        top: 18.39999999999999px;
        height: 163.20000000000002px
    }

    50% {
        top: 49px;
        height: 102px
    }

    100% {
        top: 49px;
        height: 102px
    }
}

@keyframes ldio-rxa1k1wifs-3 {
    0% {
        top: 28.60000000000001px;
        height: 142.79999999999998px
    }

    50% {
        top: 49px;
        height: 102px
    }

    100% {
        top: 49px;
        height: 102px
    }
}

.ldio-rxa1k1wifs div {
    position: absolute;
    width: 30px
}

.ldio-rxa1k1wifs div:nth-child(1) {
    left: 35px;
    background: #f29c37;
    animation: ldio-rxa1k1wifs-1 1.0204081632653061s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.20408163265306123s
}

.ldio-rxa1k1wifs div:nth-child(2) {
    left: 85px;
    background: #f29c37;
    animation: ldio-rxa1k1wifs-2 1.0204081632653061s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: -0.10204081632653061s
}

.ldio-rxa1k1wifs div:nth-child(3) {
    left: 135px;
    background: #f29c37;
    animation: ldio-rxa1k1wifs-3 1.0204081632653061s cubic-bezier(0, 0.5, 0.5, 1) infinite;
    animation-delay: undefineds
}

.loadingio-spinner-pulse-rgnlb5ykrc {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #ffffff;
}

.ldio-rxa1k1wifs {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
    /* see note above */
}

.ldio-rxa1k1wifs div {
    box-sizing: content-box;
}

.card__link {
    text-decoration: none;
    color: #000000;
}



.card__wrapper {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.144);
    transition: 0.4s;
    margin-top: 20px;
}

.card__head {
    display: flex;
}

.profile__payment-list {
    gap: 20px;
}

.card__head img {
    width: 67px;
    height: 67px;
    margin-right: 10px;
}

.card__head svg {
    width: 67px;
    height: 67px;
    margin-right: 10px;
}

.profile__payment {
    width: 400px;
}

input[type="radio" i] {
    position: absolute;
    margin-top: 68px;
    margin-left: 20px;
}

.modal_wrap {
    display: none;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #0000002d;
    z-index: 999;
    backdrop-filter: blur(2px);
}

#billingcx-modal {
    position: absolute;
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.123);
}

.open {
    display: block;
}

.input-payment {
    padding: 10px 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

#form {
    display: grid;
    font-family: 'Open Sans', sans-serif;
}

.button{
    background: #f29c37;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat' !important;
    font-weight: 600;
    cursor: pointer;
}

/* generated by https://loading.io/ */
@media only screen and (max-width: 900px) {
    /* MOBILE */

    .profile__main {
        padding-top: 25px;
        display: flex;
        flex-direction: column;
        gap: 22px;
        padding: 10px;
    }

    .profile__header-right {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .profile__left {
        max-width: 900px;
        height: 221px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #275060;
        border-radius: 20px;
    }

    .profile__balance-text {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        margin: 0;
        padding-left: 15px;
        padding-top: 23px;
        margin-bottom: 9px;
    }

    .profile__bottom-btn {
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 16px;
        color: #6D6D6F;
        padding: 9px 13px 9px 13px;
        margin-left: 0;
        min-width: 146px;
    }

    .profile__left-bottom-wrapper {
        padding-left: 20px;
    }

    .profile__bottom {
        display: flex;
    }

    .profile__bottom-link {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        color: #fff;
        height: 33px;
        width: 100%;
        padding-left: 10px;
        padding-top: 10px;
        border-left: 4px solid #275060;
        text-decoration: none;
        transition: 0.3s;
    }

    .profile__error-text {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        color: #FFFFFF;
        min-width: 110px;
        padding-right: 20px;
    }

    .profile__activated {
        padding-left: 0;
    }

    .profile__banner {
        /* border-radius: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 0; */

        border-radius: 20px;
        display: flex;
        align-items: flex-start;
        padding-top: 0;
    }

    .profile__banner-title {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
    }

    .profile__banner-subtitle {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #FFFFFF;
    }

    .profile__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(211, 211, 211);
        background-color: white;
        padding: 20px;
    }

    .profile__header-logo {
        display: none;
    }

    .profile__header-right {
        display: flex;
        align-items: center;
    }

    .profile__user-wrapper {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .profile__ava {
        border-radius: 50%;
    }

    .profile__user-right {
        width: 160px;
    }

    .profile__user-name {
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
    }

    .profile__user-id-label {
        position: relative;
    }

    .profile__user-id-input {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        border: none;
        width: 150px;
        cursor: pointer;
    }

    .profile__user-id-input:focus {
        border: none;
        outline: none;
    }

    .profile__user-id-copy-icon {
        position: absolute;
        bottom: 3px;
        right: 90px;
    }

    .profile__header-buttons-wrapper {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 6px;
    }

    .profile__button-cash {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        padding: 5px 23px 5px 23px;
        border: none;
        background: none;
        color: #6D6D6F;
        background: #F4F4F4;
        cursor: pointer;
        border-radius: 100px;
    }

    .profile__button-logout {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 15px;
        padding: 5px 23px 5px 23px;
        border: none;
        background: none;
        color: #FFFFFF;
        background: #F29C37;
        cursor: pointer;
        min-width: 108px;
        border-radius: 100px;
    }

    .profile__payment-list li {
        width: 100%;
    }

    .profile__payment {
        width: 100%;
    }

}