.counsel__wrapper {}

.container {}

.counsel__heading {
    font-size: 22px;
    color: #F29C37;
    border-bottom: 1px solid #F29C37;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 20px;
    padding-bottom: 5px;
    width: 100%;
}

.counsel__text {
    margin: 0;
    margin-bottom: 15px;
    color: #828281;
    font-style: italic;
    padding-bottom: 15px;
    border-bottom: 1px solid #e3e3e3;
}

.counsel__subtitle {
    margin: 0;
    margin-bottom: 25px;
    font-family: "Montserrat";
    font-weight: 800;
    font-size: 13px;
    line-height: 30px;
    color: #F29C37;
}

.counsel__subtitle-text {
    margin: 0;
    margin-bottom: 15px;
    color: #898989;
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-size: 13px;
    line-height: 21px;
}

.counsel__span {
    margin: 0;
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 13px;
    line-height: 30px;
    color: #F29C37;
    padding-right: 5px;
}

.counsel__top-wrapper {
    background-image: url('./../../assets/images/capitalBack.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 57px;
    padding-bottom: 63px;
    margin-bottom: 38px;
}

.counsel__top {
    text-align: center;
}

.counsel__span-text {
    margin: 0;
    color: #898989;
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-size: 13px;
    line-height: 21px;
}

.counsel__subtitle-pre {
    color: #898989;
   font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-size: 13px;
    line-height: 21px;
}

.counsel__pb {}

@media only screen and (max-width: 900px) {
    /* MOBILE */

    .counsel__wrapper {
        max-width: 900px;
        width: 100%;
    }

    .counsel__heading {
        max-width: 80vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .counsel__text {
        max-width: 90vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .counsel__subtitle-text {
        max-width: 90vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .counsel__span ~ .counsel__span-text {
        max-width: 90vw;
        display: inline-block;
        width: 100%;
    }

    .counsel__subtitle-pre {
        max-width: 95vw;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        text-overflow: ellipsis;
    }
}
