.compilance__title {
    font-size: 22px;
    line-height: 30px;
    color: #F29C37;
    font-weight: 400;
}

.bigger {
    margin-bottom: 20px;
}

.project__links {
    text-decoration: underline;
    color: #F29C37;
    font-weight: 400;
    line-height: 21px;
    font-size: 13px;
    display: block;
    margin-bottom: 20px;
}

.bigger__link {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: underline;
    color: #F29C37;
    font-weight: 400;
    line-height: 30px;
}


.compilance__link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    cursor: pointer;
    color: #aab2bd;
    font-size: 13px;
    font-weight: 700;
    line-height: 30px;
}

.compilance__link:hover {
    color: #00F;
    text-decoration: underline;
}

.mt {}

.mb {
    margin-bottom: 60px;
}