.header__top-wrapper {
    background: #191F2B;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    position: relative;
}

.header__cross {
    display: none;
}

.header__brg {
    display: none;
}

/* .container {} */

.header__left {
    display: flex;
    align-items: center;
    gap: 25px;
}

.header__left-adress {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__left-mail {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__right-login {
    display: flex;
    align-items: center;
    gap: 7px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

/* .header__login-icon {} */

.header__right-register {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 7px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-decoration: none;
}

/* .header__register-icon {} */

.header__bottom-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 26px;
    height: 50px;
}

/* .container {} */

/* .header__bottom-logo-link {} */

.header__bottom-logo {
    margin-right: 40px;
}

/* .header__navbar {} */

.header__nav-list {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-right: 3px;
    padding: 0;
}

.header__nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.header__nav-link {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #191F2B;
    cursor: pointer;
}

.header__nav-item:hover .header__nav-link {
    color: #F29C37;
    /* transform: scale(1.05); */
}

.header__nav-item:hover .header__drop-arrow path {
    stroke: #F29C37;
}

.header__nav-item:hover .header__drop-arrow {
    stroke: #F29C37;
    transition: 0.4s;
    transform: rotate(180deg);
}

.header__nav-item:hover .header__nav-drop {
    transform: scale(1);
    transition: all 0.3s ease;
}

.header__drop-arrow {
    margin-left: 7px;
    transition: 0.4s;
}

.header__nav-drop {
    display: flex;
    transform: scale(0);
    z-index: 99999;
    transition: all 0.3s ease;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
}

.header__drop-list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 642px;
    padding: 10px;
    padding-top: 50px;
    background-color: #ffffff;
    z-index: 9999;
    list-style-type: none;
}

.clients__max {
    max-width: 642px;
    width: 100%;
}

.header__drop-item {
    padding: 0;
    border-bottom: 1px dotted #e0e0e0;
    padding: 7px 0;
    font-weight: 700;
    width: 300px;
    color: #252525;
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
}

.header__drop-link {
    text-decoration: none;
    color: #191F2B;
}

.header__drop-link:hover {
    color: #F29C37;
    transform: scale(1);
}

.header__bottom-open {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background: #F29C37;
    border-radius: 100px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    cursor: pointer;
    /* width: 169px; */
    text-decoration: none;
}

.header__bottom-open:hover {
    color: #F29C37;
    background: transparent;
    box-shadow: 0 0 0 1px#F29C37;
}

.header__bottom-open:active {
    color: #f29b3791;
    background: #FFFFFF;
}

.active {
    color: #F29C37;
}

.active .header__drop-arrow path {
    stroke: #F29C37;
}

.off {
    display: none;
    max-width: 97px;
}

.input:-internal-autofill-selected {
    appearance: menulist-button;
    background-image: none !important;
    background-color: transparent !important;
}


@media only screen and (max-width: 1000px) {
    /* TABLET */

    .header__container {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .header__right {
        margin-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 197px;
        gap: 5px;
    }
}


@media only screen and (max-width: 885px) {
    /* MOBILE */

    .header__bottom-logo {
        margin: 0;
    }

    .header__left {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .header__cross {
        display: flex;
    }

    .header__right {
        display: flex;
        flex-direction: column;
        align-items: str;
        max-width: 147px;
        width: 100%;
    }

    .header__right-register {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 7px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        text-decoration: none;
        margin-top: 5px;
    }

    .header__navbar {
        display: none;
        justify-content: start;
    }

    .header__nav-list {
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: 9999;
        width: 100%;
        padding-top: 60px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-right: 0;
        background-color: #ffffff;
        overflow-y: scroll;
    }

    .header__nav-drop {
        display: flex;
        transform: scale(0);
        height: 0;
        padding-top: 10px;
        z-index: 99999;
        transition: all 0.3s ease;
        flex-direction: column;
        position: static;
        top: 0;
        left: 0;
    }

    .header__nav-item:hover .header__nav-drop {
        transform: scale(1);
        height: 100%;
        transition: all 0.3s ease;
    }

    .header__drop-list {
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 100%;
        padding: 10px;
        padding-top: 0;
        background-color: transparent;
        z-index: 9999;
        list-style-type: none;
    }

    .clients__max {
        max-width: 642px;
        width: 100%;
    }

    .header__drop-item {
        padding: 0;
        border-bottom: 1px dotted #e0e0e0;
        padding: 7px 0;
        font-weight: 700;
        width: 300px;
        color: #252525;
        font-size: 12px;
        line-height: 15px;
        cursor: pointer;
    }

    .header__drop-link {
        text-decoration: none;
        color: #191F2B;
    }

    .header__nav-link {
        margin: 0;
    }

    .header__drop-link:hover {
        color: #F29C37;
        transform: scale(1);
    }

    .header__cross {
        border: none;
        background: none;
        font-size: 20px;
        font-weight: 700;
        position: absolute;
        top: -20px;
        right: 30px;
        cursor: pointer;
    }

    .header__cross img {
        width: 20px;
        height: 20px;
        object-fit: contain;
    }

    .header__cross-wrapper {
        position: relative;
        width: 100%;
    }

    .header__brg {
        display: flex;
        border: none;
        background: none;
        width: 30px;
        height: 30px;
    }

    .header__brg img {
        width: 30px;
        height: 30px;
        object-fit: contain;
    }

    .header__left {
        display: grid;
    }

    .header__right  {
        align-items: center
    }
}