/* montserrat-regular - latin */
@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: 
        url('../fonts/montserrat-v25-latin-regular.woff2') format('woff2'),
        url('../fonts/montserrat-v25-latin-regular.woff') format('woff');
}

/* montserrat-500 - latin */
@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: 
        url('../fonts/montserrat-v25-latin-500.woff2') format('woff2'),
        url('../fonts/montserrat-v25-latin-500.woff') format('woff');
}

/* montserrat-600 - latin */
@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 600;
    src: 
        url('../fonts/montserrat-v25-latin-600.woff2') format('woff2'),
        url('../fonts/montserrat-v25-latin-600.woff') format('woff');
}

/* montserrat-700 - latin */
@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: 
        url('../fonts/montserrat-v25-latin-700.woff2') format('woff2'),
        url('../fonts/montserrat-v25-latin-700.woff') format('woff');
}

/* montserrat-800 - latin */
@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 800;
    src: 
        url('../fonts/montserrat-v25-latin-800.woff2') format('woff2'),
        url('../fonts/montserrat-v25-latin-800.woff') format('woff');
}

/* montserrat-900 - latin */
@font-face {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-display: swap;
    font-weight: 900;
    src: 
        url('../fonts/montserrat-v25-latin-900.woff2') format('woff2'),
        url('../fonts/montserrat-v25-latin-900.woff') format('woff');
}

.container {
    max-width: 1180px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}


@media only screen and (max-width: 1000px) {
    /* TABLET */

    .container {
        max-width: 960px;
        padding-left: 20px;
        padding-right: 20px;
        margin-left: auto;
        margin-right: auto;
    }
}
