.home__wrapper {
    display: flex;
    flex-direction: column;
}

.home__top-wrapper {
    background-image: url('./../../assets/images/eagleBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 410px;
    padding-top: 75px;
    padding-bottom: 67px;
}

.home__top {
    position: relative;
}

.home__heading {
    max-width: 560px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    padding-left: 22px;
    height: 199px;
    display: flex;
    align-items: center;
    border-left: 5px solid #F29C37;
    color: #191F2B;
    width: 100%;
    margin: 0;
}

.home__top-btn-wrapper {
    margin-top: 49px;
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.home__top-contact {
    cursor: pointer;
    background: #F29C37;
    border-radius: 100px;
    padding: 17px 32px 16px 30px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;

    padding: 15px 20px;
    text-decoration: none;
}

.home__top-contact:hover {
    color: #F29C37;
    background: #FFFFFF;
}

.home__top-contact:active {
    color: #f29b3791;
    background: #FFFFFF;
}

.home__top-join {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #191F2B;
    padding-top: 17px;
    padding-bottom: 16px;
    text-align: center;
    border: 2px solid #F29C37;
    border-radius: 100px;

    cursor: pointer;
    padding: 15px 20px;
    text-decoration: none;
}

.home__top-join:hover {
    background-color: #F29C37;
}

.home__top-text {
    margin: 0;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
    color: #000000;
    width: 352px;
    /* padding-left: 20px;
    padding-top: 19px;
    padding-bottom: 19px; */
}

.home__top-eagle {
    position: absolute;
    background-image: url('./../../assets/images/eagle.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0px;
    max-width: 834.57px;
    width: 100%;
    max-height: 475px;
    height: 470px;
    left: 423px;
}

.home__middle-wrapper {
    background: #F29C37;
}

.home__middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 39px;
    padding-bottom: 40px;
}

.home__middle-text {
    width: 770px;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

.home__middle-btn {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    display: inline-block;
    color: #FFFFFF;
    padding: 17px 30px 16px 30px;
    background: #000000;
    border-radius: 100px;
    cursor: pointer;
}

.home__middle-btn:hover {
    background: #FFFFFF;
    color: #000000;
}

.home__bottom-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    padding-top: 47px;
    padding-bottom: 30px;
    gap: 46px;
}

.home__info {
    height: 180px;
    background-color: #F29C37;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home__info-link {
    width: 340px;
    background-color: #000000;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 50px;
    transition: 0.5s;
    text-decoration: none;
}

.home__info-link:hover {
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}

.rev img {
    width: 32%;
    height: inherit;
}

.rev {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    gap: 20px;

    flex-wrap: wrap;
}


.giv__left {
    color: whitesmoke;

    display: grid;
    align-items: stretch;
    justify-items: start;
    align-content: space-around; 
}

.giv__left-bottom button {
    margin-top: 10px;
}

.giv__text {
    font-size: 20px;
    font-weight: 500;
}

.giv__right {
  
    display: flex;
    align-items: flex-end
}

.yellow {
    color: #F29C37;
}

.orange {
    color: 
    #DC6741;
}

.bg {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 50px 0px 0px 50px;

    height: 300px;
    padding-left: 90px;
    position: absolute;
    width: 50%;
    z-index: 1;
    right: 0;
}
.z {
    z-index: 4 !important;
}

.giv {
    background-image: url(../../assets/images/bg-giv.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  

    padding: 50px 0px;

}

.giv__wrapper {
    display: flex;
    height: 400px;
    justify-content: space-between;
    z-index: 2;
}

.giv__cards {
    z-index: 5;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
}

.giv__card img {
    height: 120px;

}

.giv__card p {
    font-weight: 600;
    font-size: 25px;
    margin: 0;
    color: white;
    margin-top: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.giv__card span {
    width: 140px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.giv__bottom {
    background: #191F2B;
    width: 100%;


}

.giv__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    color: #FFFFFF;
}

.giv__left-bottom-m {
    display: none;
}
@media only screen and (max-width: 1000px) {
    /* TABLET */

    .home__top-eagle {
        position: absolute;
        background-image: url('./../../assets/images/eagle.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 0px;
        max-width: 504.57px;
        width: 100%;
        max-height: 345px;
        height: 100%;
        left: none;
        right: 0;
        bottom: 0;
    }
}

@media only screen and (max-width: 900px) {
    /* MOBILE */
    .giv {
       background-position: -20px;
    }

    .giv__wrapper  {
        height: auto;
        flex-wrap: wrap;
    }

    .giv__left-bottom {
        display: none;
    }

    .giv__left-bottom-m{
        display: block;
        color: white;
        text-align: center;
    }

    .bg {
        display: none;
    }

    .giv__right {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .giv__cards {
        /* display: flex;
        justify-content: space-around;
        gap: 20px 0px;
        flex-wrap: wrap;
        padding: 0; */

        display: block;
        columns: 2;
        padding: 0; 
    }

    .giv__card {
        margin-bottom: 20px;
    }

    .home__heading {
        max-width: 360px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 34px;
        line-height: 38px;
        padding-left: 22px;
        height: 99px;
        display: flex;
        align-items: center;
        border-left: 5px solid #F29C37;
        color: #191F2B;
        width: 100%;
        margin: 0;
    }
    .home__middle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-top: 39px;
        padding-bottom: 40px;
    }

    .home__middle-text {
        max-width: 870px;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
    }

    .home__bottom-list {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 47px;
        padding-bottom: 30px;
        gap: 46px;
    }

    .home__top-wrapper {
        height: 250px;
    }

    .rev  {
        justify-items: center;
    }

    .rev img {
        width: 100%;  
    }
}
